<main class="uk-flex uk-flex-middle uk-flex-center uk-flex-wrap
             uk-child-width-1-2 uk-child-width-1-1@m uk-padding-2xsmall">

    <div class="uk-child-width-expand uk-padding uk-flex uk-flex-column uk-gap-medium">

        <h1 style="font-size: 45px !important; letter-spacing: -2px; line-height: 43px; font-weight: 700;"> Nodepp: Write Once Compile Everywere </h1>
        <h4 style="font-size: 20px !important; line-height: 24px; font-weight: lighter;" > A powerful, free, and open-source C++ framework designed for developers who want to harness the full potential of asynchronous programming. </h4>
        <h4 style="font-size: 20px !important; line-height: 24px; font-weight: lighter;" > With Nodepp, you can effortlessly build a diverse range of applications including servers, web applications, command line tools, and more. All while enjoying the benefits of 100% asynchronous execution. </h4>

        <a href="#install" class="uk-button uk-button-warning" >
            <icon> download </icon> Install Nodepp LTS <icon> download </icon>
        </a>

        <a href="https://github.com/NodeppOfficial/nodepp" class="uk-button uk-border" target="_blanck" >
            Github Repository
        </a>

    </div>

    <div class="uk-child-width-auto uk-border" examples >

        <div class="uk-overflow-scroll uk-text-nowrap uk-width-auto uk-flex">
            <label class="uk-button" toggle="0"> <input type="radio" name="tog" hidden /> HTTP Server    </label>
            <label class="uk-button" toggle="1"> <input type="radio" name="tog" hidden /> HTTP Client    </label>
            <label class="uk-button" toggle="2"> <input type="radio" name="tog" hidden /> WS Server      </label>
            <label class="uk-button" toggle="3"> <input type="radio" name="tog" hidden /> WS Client      </label>
            <label class="uk-button" toggle="4"> <input type="radio" name="tog" hidden /> File Streams   </label>
            <label class="uk-button" toggle="5"> <input type="radio" name="tog" hidden /> Zlib GunZip    </label>
            <label class="uk-button" toggle="6"> <input type="radio" name="tog" hidden /> Zlib GZip      </label>
            <label class="uk-button" toggle="7"> <input type="radio" name="tog" hidden /> Json           </label>
            <label class="uk-button" toggle="8"> <input type="radio" name="tog" hidden /> Timers         </label>
            <label class="uk-button" toggle="9"> <input type="radio" name="tog" hidden /> Events         </label>
            <label class="uk-button" toggle="10"><input type="radio" name="tog" hidden /> Waiters        </label>
            <label class="uk-button" toggle="11"><input type="radio" name="tog" hidden /> Workers        </label>
            <label class="uk-button" toggle="12"><input type="radio" name="tog" hidden /> Promises       </label>
            <label class="uk-button" toggle="13"><input type="radio" name="tog" hidden /> Observers      </label>
            <label class="uk-button" toggle="14"><input type="radio" name="tog" hidden /> Coroutines     </label>
            <label class="uk-button" toggle="15"><input type="radio" name="tog" hidden /> Smart Pointers </label>
        </div>

        <hr>

        <div src="./Examples/1-http-server.cpp"     code hidden class="uk-vh-3-4 uk-overflow-scroll" ></div>
        <div src="./Examples/2-http-client.cpp"     code hidden class="uk-vh-3-4 uk-overflow-scroll" ></div>
        <div src="./Examples/3-ws-server.cpp"       code hidden class="uk-vh-3-4 uk-overflow-scroll" ></div>
        <div src="./Examples/4-ws-client.cpp"       code hidden class="uk-vh-3-4 uk-overflow-scroll" ></div>
        <div src="./Examples/5-stream-pipeline.cpp" code hidden class="uk-vh-3-4 uk-overflow-scroll" ></div>
        <div src="./Examples/7-zlib-gunzip.cpp"     code hidden class="uk-vh-3-4 uk-overflow-scroll" ></div>
        <div src="./Examples/6-zlib-gzip.cpp"       code hidden class="uk-vh-3-4 uk-overflow-scroll" ></div>
        <div src="./Examples/8-json.cpp"            code hidden class="uk-vh-3-4 uk-overflow-scroll" ></div>
        <div src="./Examples/9-timers.cpp"          code hidden class="uk-vh-3-4 uk-overflow-scroll" ></div>
        <div src="./Examples/10-event.cpp"          code hidden class="uk-vh-3-4 uk-overflow-scroll" ></div>
        <div src="./Examples/11-waiter.cpp"         code hidden class="uk-vh-3-4 uk-overflow-scroll" ></div>
        <div src="./Examples/12-workers.cpp"        code hidden class="uk-vh-3-4 uk-overflow-scroll" ></div>
        <div src="./Examples/13-promises.cpp"       code hidden class="uk-vh-3-4 uk-overflow-scroll" ></div>
        <div src="./Examples/14-observer.cpp"       code hidden class="uk-vh-3-4 uk-overflow-scroll" ></div>
        <div src="./Examples/15-coroutine.cpp"      code hidden class="uk-vh-3-4 uk-overflow-scroll" ></div>
        <div src="./Examples/16-Smart-Pointers.cpp" code hidden class="uk-vh-3-4 uk-overflow-scroll" ></div>
        <div src="./Examples/0-hello-world.cpp"     code        class="uk-vh-3-4 uk-overflow-scroll" ></div>

    </div>

</main>

<hr>

<main class="uk-flex uk-flex-middle uk-flex-center uk-flex-column
             uk-padding uk-gap-large uk-height-expand
             uk-child-width-2-3 uk-child-width-expand@m">

    <h1 style="font-size: 45px !important; letter-spacing: -2px; line-height: 43px; font-weight: 700;"> The Nodepp Project </h1>
    <h4 style="font-size: 20px !important; line-height: 24px; font-weight: lighter;" > The Nodepp-Project is not just another programming framework; it is a groundbreaking paradigm shift that empowers developers to create robust, scalable, and efficient applications with unparalleled ease. Gone are the days of convoluted syntax and complex structures; instead, we present a refreshing approach that simplifies coding while maintaining the flexibility and power that developers crave. </h4>
    <h4 style="font-size: 20px !important; line-height: 24px; font-weight: lighter;" > With its lightweight architecture and extensive library of modules, the Nodepp-Project empowers developers to build scalable web applications, network servers, and real-time applications effortlessly. Harness the power of event-driven programming, asynchronous I/O, and modular design, and witness your projects soar to new heights. </h4>

    <a href="#install" class="uk-button uk-button-warning" >
        <icon> download </icon> Install Nodepp LTS <icon> download </icon>
    </a>

</main>

<hr>

<main class="uk-flex uk-flex-middle uk-flex-center uk-flex-wrap
             uk-child-width-1-3 uk-child-width-1-2@m uk-child-width-1-1@s uk-padding">

    <h1 style="font-size: 45px !important; letter-spacing: -2px; line-height: 43px; font-weight: 700;"
        class="uk-width-1-1 uk-text-center uk-padding"> Features </h1>

    <div class="uk-padding">
    <div class="uk-rounded uk-border uk-border-warning uk-padding
                uk-flex uk-flex-column uk-flex-middle uk-text-center">
        <icon style="font-size: 100px"> file_json </icon>
        <h3> JSON Support </h3>
    </div></div>

    <div class="uk-padding">
    <div class="uk-rounded uk-border uk-border-warning uk-padding
                uk-flex uk-flex-column uk-flex-middle uk-text-center">
        <icon style="font-size: 100px"> regular_expression </icon>
        <h3> RegExp Support </h3>
    </div></div>

    <div class="uk-padding">
    <div class="uk-rounded uk-border uk-border-warning uk-padding
                uk-flex uk-flex-column uk-flex-middle uk-text-center">
        <icon style="font-size: 100px"> cycle </icon>
        <h3> Single Thread IO </h3>
    </div></div>

    <div class="uk-padding">
    <div class="uk-rounded uk-border uk-border-warning uk-padding
                uk-flex uk-flex-column uk-flex-middle uk-text-center">
        <icon style="font-size: 100px"> auto_delete </icon>
        <h3> Smart Pointer memory management </h3>
    </div></div>

    <div class="uk-padding">
    <div class="uk-rounded uk-border uk-border-warning uk-padding
                uk-flex uk-flex-column uk-flex-middle uk-text-center">
        <icon style="font-size: 100px"> psychology </icon>
        <h3> Reactive Programming support </h3>
    </div></div>

    <div class="uk-padding">
    <div class="uk-rounded uk-border uk-border-warning uk-padding
                uk-flex uk-flex-column uk-flex-middle uk-text-center">
        <icon style="font-size: 100px"> plug_connect </icon>
        <h3> HTTP & WebSocket Support </h3>
    </div></div>

    <div class="uk-padding">
    <div class="uk-rounded uk-border uk-border-warning uk-padding
                uk-flex uk-flex-column uk-flex-middle uk-text-center">
        <icon style="font-size: 100px"> memory </icon>
        <h3> windows | linux | mac | wasm Compatible </h3>
    </div></div>

    <div class="uk-padding">
    <div class="uk-rounded uk-border uk-border-warning uk-padding
                uk-flex uk-flex-column uk-flex-middle uk-text-center">
        <icon style="font-size: 100px"> all_inclusive </icon>
        <h3> Arduino UNO Support </h3>
    </div></div>

    <div class="uk-padding">
    <div class="uk-rounded uk-border uk-border-warning uk-padding
                uk-flex uk-flex-column uk-flex-middle uk-text-center">
        <icon style="font-size: 100px"> bolt </icon>
        <h3> Fast & Lightweight compilation </h3>
    </div></div>

</main>

<hr>

<main class="uk-flex uk-flex-middle uk-flex-center uk-flex-wrap
             uk-child-width-2-3 uk-child-width-auto@m uk-padding
             uk-height-expand uk-flex-column uk-gap" id="install">


    <h1 style="font-size: 45px !important; letter-spacing: -2px; line-height: 43px; font-weight: 700;"> Install Nodepp </h1>

    <div class="uk-child-width-auto uk-border" examples >

        <div class="uk-padding"> <h3> 1 - Install Nodepp </h3> </div> <hr>
        <div src="./Examples/0-install.sh" code ></div>

    </div>

    <div class="uk-child-width-auto uk-border" examples >

        <div class="uk-padding"> <h3> 2 - main.cpp </h3> </div> <hr>
        <div src="./Examples/0-hello-world.cpp" code ></div>

    </div>

    <div class="uk-child-width-auto uk-border" examples >

        <div class="uk-padding"> <h3> 3 - compile </h3> </div> <hr>
        <div src="./Examples/0-compile.sh" code ></div>

    </div>

    <a href="./guide.html#build_a_tcp_client.md" class="uk-button uk-button-warning" >
        Learn By Examples
    </a>

</main>

<script>
    window.addEventListener( "load", ()=>{

        for( let x of document.querySelectorAll("[code]") ){
             let url = x.getAttribute("src");

            fetch( url ).then( async (res)=>{
                let code = await res.text();
                let data = `\`\`\`\n${code}\n\`\`\``;
                x.innerHTML = marked.parse( data ); hljs.highlightAll();
            });

        }

        for( let z of document.querySelectorAll("[examples]") ){
        for( let x of        z.querySelectorAll("[toggle]")   ){
             let y = Number( x.getAttribute("toggle") );

            x.addEventListener( "click", ()=>{
                z.querySelectorAll("[code]").forEach(( a, b )=>{
                    if( b == y ){ a.removeAttribute("hidden"); }
                    else        { a.setAttribute( "hidden", "" ); }
                });
            });

        }}

    });
</script>
