<nav class="uk-flex uk-flex-middle uk-flex-between uk-padding-2xsmall">

    <a href="./#"> <img src="./assets/image.png" style="width:60px; height:60px; border-radius: 10px; mix-blend-mode: hard-light;" > </a>

    <div class="uk-flex uk-flex-middle uk-gap-2small">
        <a href="./#install"   class="uk-button uk-button-hover-light-outline"> Install </a>
        <a href="./docs.html"  class="uk-button uk-button-hover-light-outline"> Docs    </a>
        <a href="./guide.html" class="uk-button uk-button-hover-light-outline"> Guides  </a>
        <a href="https://medium.com/@EDBCBlog" class="uk-button uk-button-hover-light-outline" target="_blank"> Blog </a>
        <a href="https://github.com/NodeppOfficial/nodepp" class="uk-button" target="_blank"> <img src="./assets/repo.png" style="width:40px; heigth:40px" > </a>
    </div>

</nav> <hr>
