<!DOCTYPE html> <html lang="en">

    <head> <meta charset="UTF-8"> <° ./template/Comp/seo.html °>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./assets/uikit.css">
        <link rel="stylesheet" href="./assets/main.css">
        <title> Nodepp ─ Asynchronous C++ </title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.3.2/build/styles/monokai.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    </head>

    <body class="uk-background-dark">
        <° ./template/Comp/navbar.html °>
    <div class="uk-flex uk-flex-middle uk-flex-center
                uk-width-1-1 uk-height-expand">
        <h1> Page under construction </h1>
    </div>
        <° ./template/Comp/stats.html °>
    </body>

</html>
